body{
    /*background-color: blue;*/
}
h3{
    color: white;
}

p{
    color:white
}

href{
    color:white
}

img{
    width: 70%;
    height: auto;
    border: 1px solid white;
    
    /*padding-bottom: 100px;*/
    
}

.row{
    padding-top: 20px;
    padding-bottom: 70px;
    border-bottom: solid 1px;
    border-color: white;
}

